/* Add this to your Graph.css file or style block in your component */

body {
  margin: 0;
  background: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
  /* Replace with your linear gradient */
  font-family: Arial, sans-serif;
}

.PageContainer {
  display: flex;
}

.Dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align dropdowns to the left */
}

.GraphContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  /* Blue background with alpha for transparency */
  backdrop-filter: blur(0px);
  /* Adjust the blur radius as needed */
  border-radius: 50px;
  padding: 100px;
}

/* Updated styling for dropdowns */
label {
  color: #fff;
  margin-right: 10px;
}

select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.PieChartContainer .recharts-surface {
  fill: #3a873d;
}
